<% provide(:title, 'Add trainer to group') %>
<h1>Add trainer to group</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @group_trainer do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :group_id %>
        <%= f.select(:group_id) do %>
            <%= content_tag(:option ) %>
            <% @groups.each do |group| -%>
                <%= content_tag(:option, group.name, value: group.id) %>
            <% end %>
        <% end %>

        <%= f.label :trainer_id %>
        <%= f.select(:trainer_id) do %>
            <%= content_tag(:option ) %>
            <% @trainers.each do |trainer| -%>
                <%= content_tag(:option, trainer.user.name,
                                value: trainer.id) %>
            <% end %>
        <% end %>

        <%= f.submit "Add trainer to group", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>