<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>

      <% if @trainer %>
        <h3>Trainer</h3>
        <%= f.fields_for :trainer do |ff| %>
          <%= ff.label :qualif, value:"Qualification" %>
          <%= ff.select :qualif, options_for_select(
                                      Trainer::QUALIF_SELECT, # QUALIF_SELECT переменная константа
                                      @trainer.qualif ) %>
        <% end %>
      <% end %>

      <% if @sportsman %>
        <h3>Sportsman</h3>
        <%= f.fields_for :sportsman do |ff| %>
          <%= ff.label :address, value:"Address" %>
          <%= ff.text_field :address %>
        <% end %>
      <% end %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
